@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246.67 81.82% 97.84%;
    --foreground: 248.18 100% 4.31%;

    --primary: 248.65 98.23% 44.31%;
    --primary-foreground: 0 0% 100%;

    --card: 246.67 81.82% 97.84%;
    --card-foreground: 248.18 100% 4.31%;

    --popover: 0 0% 100%;
    --popover-foreground: 248.18 100% 4.31%;

    --secondary: 249.09 76.74% 91.57%;
    --secondary-foreground: 246.67 100% 1.76%;

    --muted: 248.18 78.57% 94.51%;
    --muted-foreground: 0 0% 40%;

    --accent: 248.18 78.57% 94.51%;
    --accent-foreground: 248.65 98.23% 44.31%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 248.65 98.23% 44.31%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 246.67 100% 1.76%;
    --foreground: 249.09 76.74% 91.57%;

    --primary: 248.65 98.23% 44.31%;
    --primary-foreground: 0 0% 100%;

    --card: 246.67 100% 1.76%;
    --card-foreground: 249.09 76.74% 91.57%;

    --popover: 246.67 100% 1.76%;
    --popover-foreground: 249.09 76.74% 91.57%;

    --secondary: 248.57 97.47% 15.49%;
    --secondary-foreground: 0 0% 100%;

    --muted: 246.67 15.25% 11.57%;
    --muted-foreground: 240 1.6% 50.98%;

    --accent: 248.57 97.47% 15.49%;
    --accent-foreground: 249.09 76.74% 91.57%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 248.65 98.23% 44.31%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input {
  @apply border rounded-md border-gray-300 py-2 px-6 bg-zinc-200/20 focus:outline-none focus:border-primary;
}

button {
  @apply focus:outline-none focus:border-primary focus:ring-primary focus:ring-1;
}
