@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 100% 95%;
    --foreground: 235 5% 0%;
    --card: 235 50% 90%;
    --card-foreground: 235 5% 10%;
    --popover: 235 100% 95%;
    --popover-foreground: 235 100% 0%;
    --primary: 235 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 235 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 197 30% 85%;
    --muted-foreground: 235 5% 35%;
    --accent: 197 30% 80%;
    --accent-foreground: 235 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 235 5% 90%;
    --border: 235 30% 50%;
    --input: 235 30% 18%;
    --ring: 235 88% 58%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 235 50% 5%;
    --foreground: 235 5% 90%;
    --card: 235 50% 0%;
    --card-foreground: 235 5% 90%;
    --popover: 235 50% 5%;
    --popover-foreground: 235 5% 90%;
    --primary: 235 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 235 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 197 30% 15%;
    --muted-foreground: 235 5% 60%;
    --accent: 197 30% 15%;
    --accent-foreground: 235 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 235 5% 90%;
    --border: 235 30% 18%;
    --input: 235 30% 18%;
    --ring: 235 88% 58%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input {
  @apply border rounded-md border-gray-300 py-2 px-6 bg-zinc-200/20 focus:outline-none focus:border-primary;
}

button {
  @apply focus:outline-none focus:border-primary focus:ring-primary focus:ring-1;
}
